body {
    background-color: #eff8ff;
    margin: auto;
}
div.main{
  display: grid;
  grid-template-columns: 70% auto;
}
div.head{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
}
div.form{
  display: grid;
  grid-template-rows: 500px auto;
  grid-gap: 10px;
  align-content: center;
}
div.prediction {
    height: 150px;
    padding: 12px 20px;
    margin-top: 200px;
    width: 400px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}
h1{
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.dropzone .dz-preview .dz-image {
    border-radius:20px;
    overflow:hidden;
    width:320px;
    height:320px;
    position:relative;
    display:block;
    z-index:10
   }
.dropzone .dz-preview .dz-image img{
    width:300px;
    height:300px;
    margin: auto;
}

/* CSS */
.button-9 {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 50px 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 450px;
  width: 200px;
}

.button-9:disabled {
  cursor: default;
}

.button-9:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}